#test {
  position:fixed;
  z-index:2500;
  color:#fff;
  background-color:black;
}

@font-face {
    font-family: 'FreeSet';
    src: url('../fonts/freesetc-book-webfont.eot');
    src: url('../fonts/freesetc-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/freesetc-book-webfont.woff') format('woff'),
         url('../fonts/freesetc-book-webfont.ttf') format('truetype'),
         url('../fonts/freesetc-book-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FreeSetLight';
    src: url('../fonts/freesetc-light-webfont.eot');
    src: url('../fonts/freesetc-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/freesetc-light-webfont.woff') format('woff'),
         url('../fonts/freesetc-light-webfont.ttf') format('truetype'),
         url('../fonts/freesetc-light-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FreeSetBold';
    src: url('../fonts/freesetc-bold-webfont.eot');
    src: url('../fonts/freesetc-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/freesetc-bold-webfont.woff') format('woff'),
         url('../fonts/freesetc-bold-webfont.ttf') format('truetype'),
         url('../fonts/freesetc-bold-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FreeSetDemi';
    src: url('../fonts/freesetc-demibold-webfont.eot');
    src: url('../fonts/freesetc-demibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/freesetc-demibold-webfont.woff') format('woff'),
         url('../fonts/freesetc-demibold-webfont.ttf') format('truetype'),
         url('../fonts/freesetc-demibold-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html {
  font-family:'FreeSetLight', sans-serif;
  height:100%;
  color:#000;
}

body {
  min-width:1026px;
}

#top-wrapper {
  /* min-height: 100%; */
  min-width:1026px;
  width:100%;
  *overflow-x: hidden;
  position:relative;
}

#top-content {
  overflow:auto;
	/* padding-bottom: 454px; */
}

#footer {
  position: relative;
	
	clear:both;
  min-width:1026px;
  color:#606060;
}

#footer a,
#footer a:visited {
  color:#1fa2b2;
}

#footer a:hover {
  text-decoration:none;
}

.footer-content {
  background:url(../images/support.jpg) 0 12px no-repeat;
  padding:55px 0 30px 160px;
  font-size:17px;
} 

.footer-content h3 {
  font-size:22px;
  margin-bottom:7px;
  font-family:'FreeSetDemi', sans-serif;
}

.footer-bottom {
  font-size:12px;
  padding:48px 0 30px 0;
}

p {
  margin-bottom:.65em;
}

h1 {
  
}

h2 {
  
}

h3 {
  
}

.fc,
.header,
.body,
.section-wrapper,
.footer {
  zoom:1;
}

.fc:after,
.header:after,
.body:after,
.section-wrapper:after,
.footer:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}

.section-wrapper {
  width:700px;
  margin:0 auto;
  padding:0 10px;
  position:relative;
}

.header {
  padding:23px 0 0 0;
  margin:0 0 -33px 0;
  color:#fff;
}

.header .logo {
  float:left;
  position:relative;
  z-index:10;
}

.header .site-name {
  text-transform:uppercase;
  position:relative;
  top:37px;
  font-size:19px;
  float:left;
  padding-left:13px;
}

.body {
  background:#168694 url(../images/body-bg.jpg) center -130px no-repeat;
  color:#fff;
  padding:10px 0 0 0;
  width:100%;
  overflow:hidden;
}

.main-slider {
  width:700px;
  height:230px;
  padding-top:32px;
  position:relative;
  margin:0 0 0 0;
  /* 649 */
}

.main-slider .card {
  background:url(../images/card.png) 0 -438px no-repeat;
  position:absolute;
  left:649px;
  top:52px;
  z-index:3;
  width:339px;
  height:229px;
  display:none;
}

.main-slider .slide {
  position:relative;
  height:237px;
  margin-left:-75px;
  padding-left:75px;
}

.main-slider .lister {
  position:absolute;
  right:-12px;
  bottom:7px;
  width:150px;
  z-index:10;
}

.main-slider .lister .item {
  float:left;
  width:18px;
  height:18px;
  margin:3px 0 0 0;
  background-image:url(../images/sprite-2.png);
  background-repeat:no-repeat;
  background-position:0 -2px;
  cursor:pointer;
}

.main-slider .lister .act {
  background-position:-23px -2px;
  cursor:default;
}

.main-slider .lister .prev {
  float:left;
  width:22px;
  height:24px;
  background-image:url(../images/sprite-2.png);
  background-repeat:no-repeat;
  background-position:-55px 0;
  cursor:pointer;
  margin:0 0 0 6px;
}

.main-slider .lister .next {
  float:left;
  width:22px;
  height:24px;
  background-image:url(../images/sprite-2.png);
  background-repeat:no-repeat;
  background-position:-77px 0;
  cursor:pointer;
}

.main-slider .slide-content ul {
  width:400px;
}

.main-slider .slide-content ul li {
  display:none;
  margin:0 0 .7em 0;
  background:url(../images/bullit-2.png) 0 .35em no-repeat;
  padding:0 0 0 18px;
  font-family:'FreeSetLight', sans-serif;
}

.main-slider h2 {
  font-size:35px;
  text-transform:uppercase;
  line-height:35px;
  margin:13px 0 .35em 0;
  display:none;
  width:650px;
  position:absolute;
  top:11px;
  font-family:'FreeSetLight', sans-serif;
}

.main-slider .slide-1 h2 {
  margin:30px 0 .35em 0;
}

.main-slider .slide-content {
  font-size:16px;
  width:650px;
  height:364px;
  position:absolute;
  margin-left: 0;
  padding: 108px 0 0 0;
}

.main-slider .slide-1 .slide-content {
  padding: 88px 0 0 0;
}

.main-slider .slide-pic {
  position:absolute;
  right:38px;
  top:-33px;
  z-index:4;
}

.main-slider .slider-mask-l {
  background:url(../images/slider-mask-l.png) 0 0 no-repeat;
  position:absolute;
  z-index:50;
  width:550px;
  height:424px;
  left:-652px;
  top:0;
}

.main-slider .slider-mask-r {
  background:url(../images/slider-mask-r.png) 0 0 no-repeat;
  position:absolute;
  z-index:50;
  width:550px;
  height:394px;
  right:-650px;
  top:0;
}

.hr {
  height:2px;
  background-color:#178e9d;
  margin:12px 0 25px 0;
}

.form-descr {
  float:left;
  width:380px;
  font-size:16px;
  padding-top:4px;
  line-height:21px;
}

.form-descr .item {
  position: relative;
  padding: 15px 90px 0 68px;
  margin: 0 0 15px 0;
  min-height: 53px;
  background-position: 0px center;
  background-repeat: no-repeat;
}

.form-descr .item-1 {
  background-image:url(../images/ico-time.png);
}

.form-descr .item-2 {
  background-image:url(../images/ico-passport.png);
}

.form-descr .item-3 {
  background-image:url(../images/ico-map.png);
}

.request-form {
  width:320px;
  float:left;
}

.common-form .form-text {
  border:none;
  background-color:transparent;
  outline:none;
  padding: 5px 10px;
  width: 258px;
  color:#585858;
}

.common-form .input-wrapper {
  width:279px;
  height:29px;
  background-image:url(../images/sprite.png);
  background-repeat:no-repeat;
  background-position:0 -34px;
}

.common-form .input-wrapper-error {
  background-position:0 -67px;
}

.common-form .form-item {
  margin:0 0 14px 0;
  position:relative;
}

.common-form label {
  display:block;
  text-transform:uppercase;
  font-size:16px;
  margin:0 0 4px 0;
}

.common-form label span {
  display:block;
}

.request-form {
  margin-bottom:20px;
}

.request-form .form-submit {
  width:212px;
  height:37px;
  background-image:url(../images/sprite.png);
  background-repeat:no-repeat;
  background-position:0 -100px;
  float:right;
  color:#fff;
  font-size:15px;
  font-family:'FreeSet', sans-serif;
  cursor:pointer;
  margin-top:4px;
  position:relative;
}

.request-form .form-submit:active {
  background-position:0 -148px;
}

.request-form .submit-disabled,
.request-form .submit-disabled:active {
  opacity:.7;
  filter:alpha(opacity=70);
  cursor:default;
  background-position:0 -100px;
}

.request-form .form-submit span {
  left:45px;
  top:11px;
  cursor:pointer;
  position:relative;
}

.request-form .submit-disabled span {
  cursor:default;
}

.search-form .form-submit {
  width:68px;
  height:29px;
  background-image:url(../images/sprite.png);
  background-repeat:no-repeat;
  background-position:0 -196px;
  float:right;
  color:#fff;
  font-size:18px;
  font-family:'FreeSet', sans-serif;
  cursor:pointer;
  margin-top:13px;
}

.search-form .form-submit:active {
  background-position:0 -244px;
}

.search-form .form-submit span {
  left:59px;
  top:12px;
  cursor:pointer;
  text-transform:none;
}

.search-form .form-submit .shadow {
  display:none;
}

.common-form label.error {
  font-size:13px;
  color:#ed1c24;
  text-transform:none;
  position:absolute;
  left:0;
  bottom:0;
  padding: 4px 10px;
}

.map-content {
  display:none;
  padding-bottom:40px;
}

.map-wrapper {
  width:368px;
  height:233px;
  background:url(../images/map-frame.png) 0 0 no-repeat;
  float:left;
  margin:0 20px 0 0;
}

.autocomplete {
  background-color:#FFF;
  text-transform:none;
  color:#1fa2b2;
  font-size:12px;
  border:1px solid #999;
  border-top:none;
  position:absolute;
  z-index:50;
  padding:5px 6px;
  font-family:Arial, sans-serif;
}

.autocomplete li {
  margin:0 0 .5em 0;
  padding:2px 4px;
}

.autocomplete span {
  text-decoration:underline;
  cursor:pointer;
}

.autocomplete li.act {
  background-color:#dedede;
}

#map {
  width: 352px;
  height: 218px;
  padding:7px 8px;
}

.search-form {
  float:left;
  width:299px;
}

.map-search {
  text-transform:uppercase;
  float:left;
  position:relative;
  width:312px;
  padding:0 0 0 0;
}

.map-search span {
  display:block;
}

.map-search p {
  margin:0 0 .8em 0;
}

.map-search .ttl {
  margin-top:1.2em !important;
  margin-bottom:.6em !important;
  text-transform:uppercase !important;
}

.map-search .big {
  font-size:16px;
  line-height:20px;
  margin:0 0 1.8em 0;
  text-transform:none;
}

.map-search #sample {
  font-size:12px;
  cursor:pointer;
  padding-top:4px;
}

.map-search .form-item {
  margin-bottom:3px;
}

/* Slider elements */

.pic-element {
  position:absolute;
  display:block;
  left:-5000px;
}

#slider-lamps {
  left:-5000px;
}

#slider-box {
  left: 531px;
  top: 56px;
  width:105px;
  /* height:196px; */
  z-index:2;
  /* -webkit-transform:rotate(40deg); */
}

#slider-coins {
  width:165px;
  /* height:166px; */
  z-index:4;
  left: 530px;
  top: 106px;
}

#slider-phone {
  left: 531px;
  top: 26px;
  width: 76px;
  height:220px;
  z-index:5;
}

#slider-paypass {
  left: 590px;
  top: 100px;
  width: 83px;
  height:108px;
  z-index:4;
}

#slider-backpack {
  width:133px;
  /* height:368px; */
  z-index:4;
  left: 520px;
  top: 8px;
}

#slider-bag {
  width:116px;
  height:134px !important;
  background:url(../images/bag-back-main.png) 0 0 no-repeat;
  position:absolute;
  z-index:7;
  left: 515px;
  top: 78px;
}

#slider-bag-front {
  width:116px;
  display:block !important;
  z-index:7;
  left:0 !important;
}

#slider-shirt {
  width:80px;
  z-index:6;
  left: 3px;
  top: -13px;
}

#slider-scarf {
  width:64px;
  z-index:5;
  left: 45px;
  top: -4px;
}

#slider-shoes {
  z-index:8;
  left: 490px;
  top: 155px;
  width:99px;
}

#slider-notebook {
  width:164px;
  /* height:233px; */
  z-index:5;
  left: 504px;
  top: 81px;
}

#slider-cursor {
  width:34px;
  /* height:100px; */
  z-index:51;
  left: 614px;
  top: 128px;
}

#slider-lamps {
  position:absolute;
  left: 608px;
  top: 106px;
  z-index: 6;
  width:84px !important;
}

#slider-lamps img {
  display:none;
  width:11px;
}

#slider-lamps div {
  width:11px;
  height:11px;
  float:left;
  overflow:hidden;
}

/* Map balloon */

.ymaps-b-balloon {
  width:300px !important;
}

.ymaps-b-balloon__content {
  width:298px !important;
}


.ymaps-b-balloon__content ymaps {
  width:298px !important;
  overflow:visible !important;
}

.balloon-top {
  padding:10px;
}

.balloon-bottom {
  padding:6px 10px;
  background:url(../images/balloon-footer.png) 0 bottom no-repeat;
  color:#fff;
  margin-bottom:-10px;
  position:relative;
  z-index:500;
}

/* iCheck */

/* iCheck plugin Futurico skin
----------------------------------- */
.icheckbox,
.iradio {
    display: block;
    margin: 0;
    padding: 0;
    width: 23px;
    height: 23px;
    background: url(../images/icheck.png) no-repeat;
    border: none;
    cursor: pointer;
    float:left;
    margin-right:11px;
    margin-top:-2px;
}

.icheckbox {
    background-position: 0 0;
}
    .icheckbox.checked {
        background-position: -23px 0;
    }
    .icheckbox.disabled {
        background-position: -36px 0;
        cursor: default;
    }
    .icheckbox.checked.disabled {
        background-position: -54px 0;
    }

.iradio {
    background-position: -72px 0;
}
    .iradio.checked {
        background-position: -90px 0;
    }
    .iradio.disabled {
        background-position: -108px 0;
        cursor: default;
    }
    .iradio.checked.disabled {
        background-position: -126px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox,
    .iradio {
        background-image: url(futurico@2x.png);
        -webkit-background-size: 144px 19px;
        background-size: 144px 19px;
    }
}

.form-checkboxes {
  padding-top:5px;
}

.form-checkboxes label {
  text-transform:none;
  font-family:'FreeSet';
}

#footer .agree-text {
  padding:10px 0 0 0;
  font-size:14px;
}

.common-form {
  position:relative;
}

.search-form .form-submit {
  position: absolute;
  top: -2px;
  margin: 0;
  left: 252px;
  text-indent:-10000px;
}

address {
  display:inline;
}

.agree-text-trigger span {
  color: #178e9d;
  border-bottom: 1px dotted #178e9d;
  cursor: pointer;
  font-size:14px;
}

#footer .agree-text {
  padding: 25px 0 0 0;
  font-size: 14px;
  margin-left: -160px;
  display:none;
}

#footer .agree-text p {
  padding-bottom:.7em;
}
